nav {
    display: flex;
    justify-content: flex-end;
}

.item {
    margin: 0 5px;
}

@media only screen and (max-width: 475px) {
    button {
        display: block;
    }
    nav {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .show-nav {
        display: flex;
    }
}